@import '../containers/Vars.scss';

.navigation.footer {
    margin: 30px 0;
    padding: 30px 0;
    border-top: $border-color 1px solid;
}
.navigation-footer a {
    color: black;
    text-decoration: none;
    padding: 5px;
}